@charset "utf-8";

html {
    /* ブラウザのデフォルトが16px                        */
    /* デフォルトの16pxの代わりに1emが10pxになるように調整 */
    font-size: 62.5%;
  }

body{
  line-height: 1.5;
  font-size: 1.6rem; /* 16px */
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  text-align: center;
	background: linear-gradient(#99f, #f99);
  /* background-image: url(../img/Hello_World.png);  */
  background-size:cover;
}

header, main, h1, h2, h3, p, div, table, .field, .btn-area,.field01 {
    margin: 0.5em 0em 0em 0em;
    padding: 0.1em;
}
th, td {
    line-height: 1.2em;
    padding: 0.1em;
}
/*******************************************************/
/* 見出し                                              */
/*******************************************************/
h1 {
    color: rgb(165, 243, 243);
}
h2 {
    /* color: grey; */
    color: whitesmoke;
    font-weight: 1000;
}

/*******************************************************/
/* メイン                                              */
/*******************************************************/
/* KEY 入力エリア */
.field01{
  width: 6em;
  height: 2em;
	display: flex;
	transition: all 1.5s;
	border-radius: 5px;
	backdrop-filter: blur(1px);
	background: linear-gradient(to right,rgba(214, 143, 255, 0.2),rgba(46, 46, 46, 0.5));
}
.field02{
  width: 7em;
  height: 2em;
  margin-top: 2em;
  margin-bottom: 8em;
	border-radius: 5px;
	backdrop-filter: blur(1px);
	background: linear-gradient(to bottom right,rgba(214, 143, 255, 0.2),rgba(46, 46, 46, 0.5));
}
/* ラベル */
label {
  position: absolute;
  left:0.5em;
  color: whitesmoke;
  font-weight: 1000;
}

/* ★自分でコーディングする！(code by yourself) ... 疑似要素「::after」を使って、「必須」の文字を定義する。*/
label::after{
  margin-left: 1.0em;
  padding: 0px 6px 0px 6px;
  border-radius:4px;
  font-size: 0.6em;
  color: white;
  background-color: #c44;
  content:"必須";
}
/* テキストエリア */
textarea{
  outline-color:#09f592;
  position: absolute;
  top: 2em;
  left: 3em;
}

/* ★自分でコーディングする！(code by yourself)...  疑似要素「::placeholder」を使って、textareaの文字の色を定義する。*/
  /* placeholder */
  textarea::placeholder{
    color: #5350509a;
  }
/* ボタン */
.btn-area{
  margin-left:3em;
  text-align: left;
}
#save,#select,#del,#allClear{
  padding: 0.5em;
  color: #7f8;
  text-decoration: none;
  border: 3px solid #7f8;
  background-color: #35373a;
  transition: all 0.5s;
  /* border-radius: 0.3em;
  color: whitesmoke;
  font-size: 1em;
  background: rgb(26, 212, 212); */
  cursor: pointer; /*カーソルをポインターの形（かたち）にする*/
}



/*********************テーブル**************/

table{
  table-layout: fixed;/*１行目に指定された列幅の％や数値をテーブル全体に適用*/
  width: 80%;
  margin-left: 3em;
  border-collapse: collapse;
  opacity: 0.9;
}
table th{
  background: rgb(8, 7, 7);
}
table th{
  padding: 0.5em 0;
  border: solid 0.2em #09f592;
  color: rgb(255, 253, 253);
  text-align: center;
}

table td{
  padding: 0.5em 0;
  border: solid 0.2em #09f592;
  color: rgb(255, 255, 255);
  text-align: center;
}

table td:nth-child(4) img.trash{
  cursor: pointer;
}

table tr{
  background: #4b4c4d;
}
.width10{
  width: 10%;
}

.width30{
  width: 30%;
}

.width60{
  width: 60%;
}

.width90{
  width: 10%;
  background-color: rgb(212, 103, 103);
}

/********************************************************/
/* レスポンシブ対応　メディアクエリを使ってCSSを切り替える */
/* https://www.design-memo.com/coding/css-media-queries */
/********************************************************/
/* mobileのときのスタイル */
@media screen and (max-width: 1080px) {
  body{
    background-position:center;
    background-size: auto 100%;
  }
  /* ラベル */
  label {
    left:0.1em;
  }

  /* テキストエリア */
  textarea{
    left: 0.1em;
  }

  /* ボタン */
  .btn-area{
    margin-left:0.1em;
  }
  
  table{
    width: 100%;
    margin-left: 0.1em;
  }
}

/*******************************************************/
/* class=back                                         */
/* id=btn99 backボタン                                 */
/*******************************************************/
.back{
  text-align: left;
}
#btn99{
  padding: 0.5em;
  border-radius: 0.3em;
  color: whitesmoke;
  font-size: 1.5em;
  background: rgb(26, 212, 212);
  cursor: pointer; /*カーソルをポインターの形（かたち）にする*/
}


footer{
  margin-top: 5em;
  color: #7575759a;
	display: flex;
  height: 5em;
  text-align: center;
  justify-content: center;
  align-items: center;
	white-space: nowrap;
  user-select: none;
}

